h1,h2,h3{ font-family:"Electrolize", sans-serif;
}

*{font-family: "Roboto", sans-serif;
}

body{
    margin: 0vh;
}

nav{
    background-color:rgb(117, 115, 115) ;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;  
    width: 100vw;
    height: 13vh;
}

nav>img{
    
    height: 103px;
}

.lista{
    list-style-type: none;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;  
} 

.link{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    
}

.link:hover{
    border-bottom:2px solid #ecec0e;
}

header{
    background-image: url(./media/background.jpg) ;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}

  #h1{
    color: #ecec0e; 
    font-size: 10vh; 
    
}  

.home{
    font-size: 2.5vh;
    text-decoration: none;
    color:#ecec0e;
   
   

}

.home:hover{
color: orange;
}

 #h1:hover{
    color: orange;
} 

.immagine{
    height: 200px;
}

.sezione{
    display: flex;
    justify-content: space-evenly;  
    width: 100vw;
}

.bottone{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}

.articolo{
    background-color: rgb(0, 0, 0);
    width: 50vh;
    display: inline-block;
    border:solid #ecec0e;
    color: white;
}

.btnarticle{
   background-color: rgb(0, 0, 0);
   color: white; 
   border: 1.5px  solid #ecec0e;
   margin: 0px;
}

.btnarticle:hover{
    background-color:rgb(228, 228, 19);
}

 .a{
    text-decoration: none;
   color: white;
}  

.sectionevidenza{
    display: flex;
    justify-content: center;
    width: 100%;
    
    
    
}

main{
    display: flex;
}

.articolosuggerito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    
}

.titolosuggerito{
    font-size: 4vh;
    text-shadow: 2px 2px 2px #ecec0e;
}

.imgsuggerito{
    width: 30vw;
}

.h2{
     /* text-align: center; */
    font-size: 50px; 
    text-shadow: 3px 3px 3px  yellow;
}

.h4{
    color:#ecec0e;
    font-size: 2vh;
}

.continualeggere{
    text-decoration: none;
    color: blue;
}

.continualeggere:hover{
    color: red;
}

.conteinerbottonesu{
   position: relative;
  bottom: 20px; 
  right: 20px;                        
}

.bottonesu{
    height: 4.5vh;
    background-color:#ecec0e;
    cursor: pointer;
     margin: auto;
    text-shadow:0 0  #ecec0e;
    box-shadow: 
        0 0 10px #ecec0e,
        0 0 20px #ecec0e;
  position: fixed;  
  bottom: 0px;
  right: 0px;
  display: grid;
  place-items: center; 
  border: none; 
  animation: pulse-animation 2s infinite;
 

}

@keyframes pulse-animation {
    from {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
    }
    to{
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }

.ft{
    background-image: url(./media/footer.jpg);
    min-height: 25vh;
    color: white;
}

.anchor{ 
  color: rgb(242, 247, 0);    
}

.anchor:hover{
    color: red;
}

@media screen and (max-width: 600px){

    .sezione{
        display: flex;
        flex-direction: column;
        
        
        
    }

    .articolo{
        width: 96vh;
        margin: 2vh;
    }

    nav{
        width: 98.5vh;
    }

    header{
        width: 99vh;
    }

    .h2{
        width: 99vh;
        text-align: center;
    }

    .ft{
        width: 99vh;
    }

    .home{
        font-size: 3vh;
    }

    .bottonesu{
        height: 3.5vh;
        
    }

    .sectionevidenza{
        width: 100vh;
        
    }

    .articolosuggerito{
       width: 99vh;
       margin-left: 1vh;
    }

    
}

  
   

    
