body{
    background-color:	rgb(0, 0, 0);
    color:rgb(255, 199, 14) ;
}

.btn-custom{
    height: 100px;
    width: 150px;
    color:rgb(255, 199, 14) ;
    background-color: transparent;
    border: 2px solid rgb(255, 199, 14);
    display: block;
    margin: 0px auto;
}

.btn-custom:hover{
    background-color:rgb(255, 199, 14) ;
    color: rgb(0, 0, 0);;
}

p{
    margin: 0px; 
    padding: 0px;
}
 
.card-custom{
    box-shadow: 2px 2px 7px rgb(255, 199, 14), -2px -2px 7px rgb(255, 199, 14) ;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:15px;
}