h1,h2,h3{ font-family:"Electrolize", sans-serif;
}

*{font-family: "Roboto", sans-serif;
}

body{
    margin: 0vh;
}

 nav{
    background-color:rgb(117, 115, 115) ;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    
} 

nav>img{
    
    height: 103px;
}

.lista{
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: space-evenly; 
    height: 50px; 
    align-items: center;  
    justify-content: baseline;
}    

.link{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    
}

.link:hover{
    border-bottom:2px solid #ecec0e;
}

header{
    background-image: url(./media/background.jpg) ;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
} 

  #h1{
    color: #ecec0e; 
    font-size: 10vh; 
    text-align: center ;
    
}  

.home{
    font-size: 2.5vh;
    text-decoration: none;
    color:#ecec0e;
   
   

}

.home:hover{
color: orange;
}

 #h1:hover{
    color: orange;
} 

.ImgArticle{
    width: 300px;
}

.conteinerarticle{
    display: flex; 
    width: 60%; 
}    

 aside{
    background-color: rgb(0, 0, 0);
    border: 0.25px; ;
    border:solid #ecec0e; 
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
} 

.articolo{
    background-color: rgb(0, 0, 0);
    bottom: 0.25px; 
    border:solid #ecec0e;  
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
} 

.btnarticle{
   background-color: rgb(0, 0, 0);
   color: white; 
   border: 1.5px  solid #ecec0e;
   margin: 0px;
}

.btnarticle:hover{
    background-color:rgb(228, 228, 19);
}

 .a{
    text-decoration: none;
    color: white;
}  

 .sectionevidenza{
    display: flex;
    justify-content: center;
      
} 

main{
    display: flex;
    margin: 0px;
}

.articolosuggerito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    
}

.titolosuggerito{
    font-size: 4vh;
    text-shadow: 2px 2px 2px #ecec0e;
}

.imgsuggerito{
    width: 70vw;
}

.h2{
    text-shadow: 3px 3px 3px  yellow;
    font-size: 4vh;
}

.h4{
    color:#ecec0e;
    font-size: 2vh;
}

.continualeggere{
    text-decoration: none;
    color: blue;
}

.continualeggere:hover{
    color: red;
}

.bottonesu{
    width: 50px;
    height: 50px;
    background-color:#ecec0e;
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
    position: fixed;  
    bottom: 0px;
    right: 0px;


     
}

@keyframes pulse {
    from {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
    }
    to{
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
    
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
  }

 .ft{
    background-image: url(./media/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
    margin: 0%;
} 
 .testo{
    margin: 0%;
 }

.anchor{ 
  color: rgb(242, 247, 0);    
}

.anchor:hover{
    color: red;
}


@media screen and (max-width: 670px){

    .lista{
        height:50vh ;
        display: flex;
        flex-direction: column;
    }

    .conteinerarticle{
        flex-direction: column;
    }

    .ImgArticle{
        width: 53vw;
    }
    
    .bottonesu{
        height: 40px;
        width: 40px; 
    }
}

  
   

    
