*{
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-family: "Orbitron", sans-serif;  
    
}

:root{
 --green: rgb(84,209,25);
 --orange:rgb(226,169,111);
 --red: rgb(229,1,5);
 
}

body{
    background-color: var(--orange);
    color: var(--red);
}



.bg-green{
    background-color: var(--green);
}

.bg-orange{
    background-color: var(--orange);
}

.bg-red{
    background-color: var(--red);
}

.text-orange{
    color: var(--orange);
}

.text-green{
    color: var(--green);
}

.text-red{
    color: var(--red);
}
.text-black{
    color: rgb(17, 17, 17);
}


/* navbar */
.navbar{
    height: 140px;
    transition: 0.5;
}

.nav-link{
    color: var(--red);
    font-weight: 700;
    font-size: large;
    
}

.logo{
    width: 50px;
}

.logo2{
    width: 100px;
    transition: 0.5s;
}

/* header */
.header{
    background-image:url(https://i.pinimg.com/originals/8b/4b/64/8b4b64444aba563febe2bff2f067f6b4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-custom{
    color: var(--red);
    background-color: var(--orange);
    border: 2px solid var(--green);
    border-radius: 50px;
    margin: 0px 15px;
    padding: 20px 30px;
    transition: 0.5s;
    
}

.btn-custom:hover{
    color: var(--orange);
    background-color: var(--red);
    transform: scale(1.1);  
    border: 2px solid var(--green);
}

/* Positioned */
.positioned{
    position: relative;
    top: -50px;
}


.shadow{
    text-shadow: 2px 2px 5px var(--black), -2px -2px 5px var(--black);

}

.col-custom{
    padding: 10px;
    border: 2px solid var(--red);
    cursor: pointer;
    transition: 0.5s;
    background-color: black;
}



.col-custom-1:hover{
    transform: scale(1.1);
    background-color:rgb(69,71,120) ;
    color: var(--green);
    border: 5px solid rgb(249,226,116);
}

.col-custom-2:hover{
    transform: scale(1.1);
    background-color: rgb(90,35,126);
    color: rgb(236,241,237);
    border: 5px solid var(--red);
}

.col-custom-3:hover{
    transform: scale(1.1);
    background-color: rgb(9,25,90);
    color:rgb(157, 128, 31);
    border: 5px solid rgb(236,241,237);;
}


.img-icon{
    width: 60px;
    height: 80px;
}

@media screen and (max-width: 600px){
    .positioned{
        position: static;
    }

    .col-custom{
        
        margin-bottom: 4px;
    }

    

}

@media screen and (max-width: 992px){
    

    .col-custom{
        
        margin-bottom: 5px;
    }
}



/* Numeri Incrementali */

.number{
    font-size: 50px;
    font-weight: 900px;
}
.img-dragon{
    border: 4px solid var(--red);
    
}


/* Swiper */
.swiper{
    height: 600px;
}

.card-review{
    height: 250px ;
    width: 500px;
    background-color:black;
    border:  2px solid var(--red);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Pagina annunci */

.accordion-item, .accordion-button{
    background-color: var(--green);
    color: var(--red);
}

.accordion-button:not(.collapsed){
    color: var(--green);
    background-color: var(--red);
    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.card-custom{
    width: 25%;
    border: 3px solid var(--red);
    background-color: var(--green);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
    margin-left: 10px;
     
}

.img-card{
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    background-size: cover;
    border: 2px solid var(--red);
    
}


.card-custom:hover{
    transform: scale(1.1);
    transition: 0.5s;
}





@media screen and (max-width: 600px){
    
    .card-custom{
        width: 65%;  
        transform: none;
        margin-top: 5px;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 992px){
    #wordInput{
        width: 120px;
    }
}

/* Chi siamo */

.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid rgb(252, 201, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    
    
}

.opener{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    background-color:rgb(252, 201, 35) ;
    transition: 0.7s;
    
    
}

.border{
    border-radius: 50%;
    background-size: cover;
}

.moved{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid var(--red);
    background-position: center;
    background-size:100%;
    position: absolute;
    z-index: 2;
    transition: 0.5s;
    cursor: pointer;
    
}

.vh-75{
    height: 90vh;
}

.flip-card{
    height: 400px;
    width: 255px;
    transition: 0.5s;
    

}

.flip-card:hover > .inner{
    transform: rotateY(180deg);
   
}

.inner{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
    
}

.innerFace{
    height: 400px;
    width: 250px;
    background-position: center;
    background-size:125%;
    border-radius: 20px;
    background-repeat: no-repeat;
    position:absolute;
    backface-visibility: hidden;
    border: 4px solid var(--green);
    
}

.innerBack{
    height: 400px;
    width: 250px;
    position:absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    text-align: center;
    padding: 8px;
    background-color: var(--green);
    background-size:cover;
    border-radius: 20px;
    border: 4px solid var(--red);
    
}
